<!-- $Id: comment_info.htm 16854 2009-12-07 06:20:09Z sxc_shop $ -->

{include file="pageheader.htm"}
<!-- comment content list -->
<div class="main-div">
  <table width="100%">
    <tr>
      <td>
      <a href="mailto:{$msg.email}"><b>{if $msg.user_name}{$msg.user_name}{else}{$lang.anonymous}{/if}</b></a>&nbsp;{$lang.from}
      &nbsp;{$msg.add_time}&nbsp;{$lang.to}&nbsp;<b>{$id_value}</b>&nbsp;{$lang.send_comment}
    </td>
    </tr>
    <tr>
      <td><hr color="#dadada" size="1"></td>
    </tr>
    <tr>
      <td>
        <div style="overflow:hidden; word-break:break-all;">{$msg.content}</div>
		<!--www.53moban.com评论筛图修改过的程序-->
<style type="text/css">
 img.comment_img{max-width:50px;border:none; cursor:pointer; border:1px solid #FFF}
img.comment_img:hover{ border:1px solid #F90}
</style>
  <div style="overflow:hidden; word-break:break-all;">
        
        <p>
        {if $msg.photo1}
        	  <img onclick="choose_comment_img(1,1,'{$msg.photo1}')" id="comment_img_1_1" class="comment_img" src="../data/feedbackimg/{$msg.photo1}">
              {/if}
               {if $msg.photo2}
              <img onclick="choose_comment_img(2,1,'{$msg.photo2}')" id="comment_img_1_2" class="comment_img" src="../data/feedbackimg/{$msg.photo2}">
               {/if}
               {if $msg.photo3}
              <img onclick="choose_comment_img(3,1,'{$msg.photo3}')" id="comment_img_1_3" class="comment_img" src="../data/feedbackimg/{$msg.photo3}">
               {/if}
               {if $msg.photo4}
              <img onclick="choose_comment_img(4,1,'{$msg.photo4}')" id="comment_img_1_4" class="comment_img" src="../data/feedbackimg/{$msg.photo4}">
               {/if}
               {if $msg.photo5}
              <img onclick="choose_comment_img(5,1,'{$msg.photo5}')" id="comment_img_1_5" class="comment_img" src="../data/feedbackimg/{$msg.photo5}">
               {/if}

         </p>
          <p id="comment_big_img_1"></p>
        </div>
		<!--www.53moban.com评论筛图修改过的程序end-->
        <div align="right"><b>{$lang.comment_rank}:</b> {$msg.comment_rank}&nbsp;&nbsp;<b>{$lang.ip_address}</b>: {$msg.ip_address}</div>
      </td>
    </tr>
    <tr>
      <td align="center">
        {if $msg.status eq "0"}
        <input type="button" onclick="location.href='comment_manage.php?act=check&check=allow&id={$msg.comment_id}'" value="{$lang.allow}" class="button" />
        {else}
        <input type="button" onclick="location.href='comment_manage.php?act=check&check=forbid&id={$msg.comment_id}'" value="{$lang.forbid}" class="button" />
        {/if}
    </td>
    </tr>
  </table>
</div>

{if $reply_info.content}
<!-- reply content list -->
<div class="main-div">
  <table width="100%">
    <tr>
      <td>
      {$lang.admin_user_name}&nbsp;<a href="mailto:{$msg.email}"><b>{$reply_info.user_name}</b></a>&nbsp;{$lang.from}
      &nbsp;{$reply_info.add_time}&nbsp;{$lang.reply}
    </td>
    </tr>
    <tr>
      <td><hr color="#dadada" size="1"></td>
    </tr>
    <tr>
      <td>
        <div style="overflow:hidden; word-break:break-all;">{$reply_info.content}</div>
        <div align="right"><b>{$lang.ip_address}</b>: {$reply_info.ip_address}</div>
      </td>
    </tr>
  </table>
</div>
{/if}

{if $send_fail}
<ul style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">
<li style="border: 1px solid #CC0000; background: #FFFFCC; padding: 10px; margin-bottom: 5px;" >{$lang.mail_send_fail}</li>
</ul>
{/if}

<div class="main-div">
<form method="post" action="comment_manage.php?act=action" name="theForm" onsubmit="return validate()">
<table border="0" align="center">
  <tr><th colspan="2">
  <strong>{$lang.reply_comment}</strong>
  </th></tr>
  <tr>
    <td>{$lang.user_name}:</td>
    <td><input name="user_name" type="text" {if $reply_info.user_name eq ""}value="{$admin_info.user_name}"{else} value="{$reply_info.user_name}"{/if} size="30" readonly="true" /></td>
  </tr>
  <tr>
    <td>{$lang.email}:</td>
    <td><input name="email" type="text" {if $reply_info.email eq ""}value="{$admin_info.email}"{else} value="{$reply_info.email}"{/if} size="30" readonly="true" /></td>
  </tr>
  <tr>
    <td>{$lang.reply_content}:</td>
    <td><textarea name="content" cols="50" rows="4" wrap="VIRTUAL">{$reply_info.content}</textarea></td>
  </tr>
  {if $reply_info.content}
  <tr>
    <td>&nbsp;</td>
    <td>{$lang.have_reply_content}</td>
  </tr>
  {/if}
  <tr>
    <td></td>
    <td><input name="send_email_notice" type="checkbox" value='1'/>{$lang.send_email_notice}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <input name="submit" type="submit" value="{$lang.button_submit}" class="button">
      <input type="reset" value="{$lang.button_reset}" class="button">
      {if $reply_info.content}<input type="submit" name="remail" value="{$lang.remail}" class="button">{/if}
      <input type="hidden" name="comment_id" value="{$msg.comment_id}">
      <input type="hidden" name="comment_type" value="{$msg.comment_type}">
      <input type="hidden" name="id_value" value="{$msg.id_value}">
    </td>
  </tr>
</table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['content'].focus();

/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("content",  no_content);
    return validator.passed();
}

onload = function() {
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
<!--www.53moban.com评论筛图修改过的程序-->
<script language="javascript">
	   		var nownum = 0;
	   		function choose_comment_img(num,iteration,src){
				for(var i=1;i<=5;i++){
					if(i == num){
						document.getElementById('comment_big_img_'+iteration+'').innerHTML = '<img src="../data/feedbackimg/'+src+'" style="max-width:600px">';
						document.getElementById('comment_img_'+iteration+'_'+i+'').style.borderColor = '#F90';
					}else{
						document.getElementById('comment_img_'+iteration+'_'+i+'').style.borderColor = '#FFF';
					}	
				}	
			}
	   </script>
	   <!--www.53moban.com评论筛图修改过的程序end-->
{/literal}
{include file="pagefooter.htm"}